# IDE
.vscode/
.cursorignore

# Front
front/node_modules/*
front/data/*
front/dist/*
front/icons/*
front/package-lock.json

# Server
server/data/*
server/.cursorignore
server/chroma_db/*
server/server.log
server/embeddings/*
server/files/*

# Python cache
__pycache__/
**/__pycache__/
*.py[cod]

# macOS
.DS_Store